<header class="page-header">
    <div class="banner-left">
      <a class="banner-a" href="{{site.url}}/">
        <h1 class="banner-name">Dylan Le Thénaff</h1>
      </a>
      <a class="site-title" href="{{ site.baseurl }}/"><img src="/static/content/main-banner.png"></a>
  <!-- <ul class="banner-links">

        <li class="banner-link github">
          <a href="https://github.com/
        </li>
        <li class="banner-link linkedin">
          <a href="https://fr.linkedin.com/
        </li>
        <li class="banner-link twitter">
          <a href="https://twitter.com/
        </li>
      </ul> -->
    </div>

    <div class="banner-right">
      <!-- <div class="banner-avatar">
        <a href="/">
          <img
            src="/static/images/profil-pic.jpg"
            title="Dylan Le Thénaff"
            alt="Dylan Le Thénaff" />
        </a>
      </div> -->
    </div>
</header>
